<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.deemsys.project.entity.Template" />
         <mapping class="com.deemsys.project.entity.Caller" />
        <mapping class="com.deemsys.project.entity.CallerCountyMap" />
        <mapping class="com.deemsys.project.entity.CallerAdmin" />
        <mapping class="com.deemsys.project.entity.CallerAdminCountyMap" />
        <mapping class="com.deemsys.project.entity.Appointments" />
        <mapping class="com.deemsys.project.entity.Doctor" />
        <mapping class="com.deemsys.project.entity.CallLog" />
        <mapping class="com.deemsys.project.entity.Patient" />
        <mapping class="com.deemsys.project.entity.CrashReport" />
        <mapping class="com.deemsys.project.entity.CrashReportError" />
        <mapping class="com.deemsys.project.entity.Clinic" />
        <mapping class="com.deemsys.project.entity.ClinicTimings" />
        <mapping class="com.deemsys.project.entity.County" />
        <mapping class="com.deemsys.project.entity.LawyerAdmin" />
        <mapping class="com.deemsys.project.entity.LawyerAdminCountyMap" />
        <mapping class="com.deemsys.project.entity.Lawyer" />
        <mapping class="com.deemsys.project.entity.LawyerCountyMap" />
        <mapping class="com.deemsys.project.entity.PatientCallerAdminMap" />
        <mapping class="com.deemsys.project.entity.PatientLawyerAdminMap" />
        <mapping class="com.deemsys.project.entity.Users" />
        <mapping class="com.deemsys.project.entity.Roles" />
        <mapping class="com.deemsys.project.entity.ExportFields" />
        <mapping class="com.deemsys.project.entity.UserExportPreferences" />
        <mapping class="com.deemsys.project.entity.UserExportPreferencesId" />
        <mapping class="com.deemsys.project.entity.UserLookupPreferences" />
        <mapping class="com.deemsys.project.entity.UserLookupPreferencesId" />
        <mapping class="com.deemsys.project.entity.RatingReviews" />
         <mapping class="com.deemsys.project.entity.DirectReportCallerAdminMap" />
        <mapping class="com.deemsys.project.entity.DirectReportLawyerAdminMap" />
        <mapping class="com.deemsys.project.entity.PoliceAgency" />
        <mapping class="com.deemsys.project.entity.ReportingAgency" />
        <mapping class="com.deemsys.project.entity.VehicleMakeAbbreviation" />
        <mapping class="com.deemsys.project.entity.PatientNearbyClinicSearchResult" />
        <mapping class="com.deemsys.project.entity.ActivityLogs" />
        <mapping class="com.deemsys.project.entity.Activity" />
        <mapping class="com.deemsys.project.entity.IpAccessList" />
         <mapping class="com.deemsys.project.entity.IpAddress" />
    </session-factory>
</hibernate-configuration>
